Research Simulations/smartgrid_coop_research/scripts/step1_input/data/930-data-export (3).csv
Research Simulations/smartgrid_coop_research/scripts/step1_input/data/gen_demand_FPL_112020_112720.csv
Research Simulations/smartgrid_coop_research/scripts/930-data-export.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/n10prosumerplot.xlsx
Research Simulations/smartgrid_coop_research/simulation_notebook/data/payload.txt
Research Simulations/smartgrid_coop_research/simulation_notebook/data/payload2.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/payload3.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/payload5.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/payload10.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N1_all_20210409_00.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N3_all_20210302_2335.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N3_all_20210409_00.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N3_model_20210129_1416.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N3_model_20210129_1605.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N10_all_20210304_2109.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N10_all_20210305_1129.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N10_all_20210409_00.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N20_all_20210409_00.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N50_all_20210409_00.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N100_all_20210303_0013.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N100_all_20210409_00.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N100_model_20210129_1414.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N100_T2_model_20210221_1454.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/prosumer_N500_all_20210409_01.csv
Research Simulations/smartgrid_coop_research/simulation_notebook/data/spandana_pecan_street_data.xlsx
Research Simulations/smartgrid_coop_research/simulation/data/daily_eia_gov_fple.csv
Research Simulations/smartgrid_coop_research/simulation/data/eia_gov_fple_122020.csv
Research Simulations/smartgrid_coop_research/simulation/data/eia_gov_fple_old.csv
Research Simulations/smartgrid_coop_research/simulation/data/eia_gov_fple.csv
Research Simulations/smartgrid_coop_research/scripts/load_demand_FPL_112020_112720.csv
Research Simulations/smartgrid_coop_research/scripts/112020_to_112720_FPL_Demand_MWh.csv
Research Simulations/smartgrid_coop_research/docs/Average_retail_price_of_electricity_Florida_residential_monthly.csv
