<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WhitenoseServiceBehavior" name="Whitenose.API">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Whitenose.IAPI" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WhitenoseServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WebAPI_URI" value="http://localhost:8090/" />
    <add key="PCAP_FileName" value="C:\Users\hlope\Desktop\GitHub\PHD\CTS 6319 Cyber Security\pcap\14.pcap" />
    <add key="PCAP_Folder" value="C:\Users\hlope\Desktop\GitHub\PHD\CTS 6319 Cyber Security\pcap_data\pcap_split\" />
    <add key="Storage_FileName" value="db.json" />
    <add key="GeoData_FileName" value="db.geodata.json" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>